@model ForgotPasswordViewModel

<h2 class="text-white">Forgot Password</h2>
<hr />
<div class="row text-white">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" style="background:rgba(0,0,0,.2);color:white;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <center>
                <button type="submit" class="btn btn-primary">
                    <div style="display:flex">
                        <span class="material-symbols-outlined">
                            upgrade
                        </span> Update
                    </div>
                </button>
                <a asp-action="Login" asp-controller="Account" class="btn btn-secondary" style="width:auto">
                    <div style="display:flex">
                        <span class="material-symbols-outlined">
                            undo
                        </span> Back
                    </div>
                </a>
            </center>
        </form>
    </div>
</div>

<br />
<center>
    <img src="~/images/password-reset.webp" style="width:auto;height:250px" />
</center>