@model ForgotPasswordViewModel
<h4 class="text-white">
    if you have an account with us, we have sent you an link to confirm the email to registered email address.
    
</h4>
@{
    if (!string.IsNullOrEmpty(Model.Link))
    {
        <a href="@Model.Link" target="_blank" class="text-success">Click Here to Validate</a>
    }
    
}
