<h4 class="text-white">
    Your password hasbeen reset.please click Sign in Below
</h4>
<br />

<center>
    <a asp-action="Login" asp-controller="Account">
        <img src="~/images/password_changed_popup_3x_4x.jpg" style="width:50%;aspect-ratio:4/3;" />
    </a>
</center>
